<div class="progress-section">
  <div style="direction: rtl;">
  <div class="gray-progress">
    <svg
      width="219"
      height="11"
      viewBox="0 0 219 11"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5.34229 0.195152L217.774 7.9552C218.458 7.9802 219 8.5423 219 9.22718C219 9.93014 218.43 10.5 217.727 10.5H5.15414C2.30759 10.5 0 8.19241 0 5.34586C0 2.42553 2.42391 0.0885447 5.34229 0.195152Z"
        fill="#EBEFF3"
      />
    </svg>
  </div>
  <div class="progress-container"  [style]="'--progress-width:'+progress+'%'">
    <div class="blue-progress">
      <svg
        width="219"
        height="11"
        viewBox="0 0 219 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.34229 0.195152L217.774 7.9552C218.458 7.9802 219 8.5423 219 9.22718C219 9.93014 218.43 10.5 217.727 10.5H5.15414C2.30759 10.5 0 8.19241 0 5.34586C0 2.42553 2.42391 0.0885447 5.34229 0.195152Z"
          fill="#0771de"
        />
      </svg>
      <!-- <div class="percentage-label d-flex flex-column">
        <div class="main-label">
            <span>%55</span>
        </div>
      </div> -->
    </div>
  </div>
</div>
  <div class="percentage d-flex" style="direction: rtl;">
    <div class="0-percent">
      <span class="percent-no">0%</span>
    </div>
    <div class="10-percent">
      <span class="percent-no">10%</span>
    </div>
    <div class="30-percent">
      <span class="percent-no">30%</span>
    </div>
    <div class="40-percent">
      <span class="percent-no">40%</span>
    </div>
    <div class="50-percent">
      <span class="percent-no">50%</span>
    </div>
    <div class="60-percent">
      <span class="percent-no">60%</span>
    </div>
    <div class="80-percent">
      <span class="percent-no">80%</span>
    </div>
    <div class="100-percent">
      <span class="percent-no">100%</span>
    </div>
  </div>
</div>
