/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neo Sans Arabic";
  src: url("assets/fonts/neo-sans-arabic/Neo_Sans_Arabic_Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --mainFont: "Neo Sans Arabic";
  --secondaryFont: "Inter";
}

body {
  background-color: #f3f5f7;
  height: 100vh;
  display: flex;
  justify-content: center;
  direction: ltr;
}
